/* Navbar */
.navbar {
  background: white;
  padding: 18px 25px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}

.navbar h3 {
  font-weight: 600;
}

.navbar .user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-btn {
  background: #ef4444;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}